.app {
  font-family: fantasy;
  font-weight: bold;
  font-size: larger;
  background-color: blanchedalmond;
  /* background-image: url("https://images.immediate.co.uk/production/volatile/sites/2/2020/07/OliveSkewers_IndianKebabs_preview-48ce677.jpg?quality=90&resize=768,574");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}


.footer{
  align-items: center;
}
/* .container{
  display: flex;
  border: solid black 1px;
}

.footer{
  align-items: center;
} */